

<app-nabvar></app-nabvar>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-sm-2 px-0 bg-dark ">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                <a href="dash/user" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">User</span>
                </a>
                <a href="dash/todolist"  class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">list TODO</span>
                </a>



            </div>
        </div>

    </div>
</div>
<div class="x">
<router-outlet></router-outlet>
</div>
